out
.idea
*.class

# Build products
build
tmp
flatlaf-3.2.jar
rars.jar
rars-flatlaf.jar
src/Version.properties

# Maven
target/

# Eclipse project files
.classpath
.project
examples/riscv

# Emacs
.settings

# MacOS
.DS_Store
*/.DS_Store
